<nav>
    <div class="logo">My App</div>
    <ul>
        <li>
            <a href="/api/v1/products" class="<%= (locals.page_name && page_name === 'Home') ? 'active' : '' %>">Home</a>
            <!-- <a href="/api/v1/products" class="<%= page_name === 'home' ? 'active' : '' %>">Home</a> -->
        </li>
        <li>
            <a href="/api/v1/products/view" class="<%= (locals.page_name && page_name === 'Products') ? 'active' : '' %>">Products</a>
        </li>
        <li>
            <a href="/api/v1/users/view" class="<%= (locals.page_name && page_name === 'Users') ? 'active' : '' %>">Users</a>
        </li>
    </ul>
</nav>